#regiForm{
        display:grid;
        height: 100vh;
        overflow-y: scroll;
        grid-template-columns: 1fr;
        grid-template-rows: .1fr 1fr;
        grid-template-areas: "navbar" "form" ;
}

#regiForm navbar{
    grid-area: navbar;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#Btnlogin{
    margin-right: 1rem;
}

#regiForm #logo{
    padding-left: 2rem;
}

 #regiForm #mainForm{ 
    grid-area:form;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#formContainer{ 
    margin: 1rem;
    width: 60%;
    text-align: center;
    background-color: var(--mainColor);    
    border-radius: .2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:1rem;
}