#regiForm{
        display:grid;
        height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "navbar" "form" ;
}
 #regiForm #mainForm{ 
    grid-area:form;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content: center;
}

#formContainer{ 
    margin: 1rem;
    width: 60%;
    text-align: center;
    background-color: var(--mainColor);    
    border-radius: .2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding:1rem;
}