.link{
    /* background-color: #36454F; */
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    width: 80%;
    text-align: center;
    text-decoration: none;
    color:white;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:1rem;
}
#navigation{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
} 

.link.active{
    background-color: #ffffff;
    color:black;
}

.link:hover{
    background-color: #818080;
    color:white;
}

.link{
    text-align: justify;
    text-decoration: none;
    color:white;
}