navbar{
    grid-area:navbar;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin-bottom: 1rem;
    background-color: var(--mainColor);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
#Btnlogin{
    margin-right: 1rem;
}

#logo{
    padding-left: 2rem;
}